.button {
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: cornflowerblue;
    border: 1px solid cornflowerblue;
    font-size: 20px;
    color: white;
    margin: auto;
}

.button:hover {
    background: rgb(2, 80, 226);
    cursor: pointer;
}